/** @format */

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?o4khei");
  src: url("fonts/icomoon.eot?o4khei#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?o4khei") format("truetype"),
    url("fonts/icomoon.woff?o4khei") format("woff"),
    url("fonts/icomoon.svg?o4khei#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
  content: "\e900";
}
.icon-grid:before {
  content: "\e901";
}
.icon-dots:before {
  content: "\e902";
}
.icon-arrow:before {
  content: "\e903";
}
.icon-hearts:before {
  content: "\e904";
}
.icon-compass:before {
  content: "\e905";
}
.icon-message:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-instagram:before {
  content: "\ea92";
}
